@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.data{
    color: #0077b6;
    padding: 5px; 
    font-family: "Roboto", sans-serif;
}
div{
    background-color: #fff1e6;
    margin: 0 auto;
    width: 50%;
    padding: 5px;
}
h1{
    line-height: 70px;
    padding: 5px;
}
p{
    padding: 5px;
    font-family: Raleway;
}